@font-face {
    font-family: 'Figtree';
    src: url("./assets/fonts/Figtree-VariableFont_wght.ttf") format('truetype');
}

body {
    background-color: hsl(47, 88%, 63%);
    font-family: "Figtree";
    color: hsl(0, 0%, 7%);
    display: flex;
    justify-content: center;
    font-size: 16px;
    align-items: center;
    box-sizing: border-box;
    min-height: 90vh;
}

.illustration {
    border-radius: 3%;
}

.content {
    padding-top: 5%;
}

.chip {
    background-color: hsl(47, 88%, 63%);
    border-radius: 5%;
    padding: 2% 5%;
    font-weight: bold;
}

.box {
    background-color: hsl(0, 0%, 100%);
    align-items: center;
    padding: 1%;
    border-radius: 3%;
    display: block;
    width: min-content;
    border: 1px solid hsl(0, 0%, 7%);
    box-shadow: 8px 8px;
}

.box:hover {
    cursor: pointer;
}

.description {
    color: hsl(0, 0%, 42%);
}

.avatar {
    display: flex;
    align-items: center;
}

.name {
    margin-left: 5%;
    font-weight: bold;
}